# Core data analysis and visualization
pandas
numpy

# Plotting
plotly
matplotlib
seaborn

# Web app frameworks
streamlit
taipy

# Machine learning
scikit-learn

# Testing
pytest

# Geospatial visualization
folium
streamlit-folium

# Date and time handling
python-dateutil

# Data processing
openpyxl

# Additional utilities
tqdm

# Note: Data source
# https://www.kaggle.com/code/minabagherzade/nj-transit-rail-performance/input
